.task {
  box-shadow: 0px 2px 5px 0px rgba(135, 142, 170, 0.5);
  padding: 15px;
  margin: 20px 0;
  border-radius: 9px;
  background-color: white;
}

#sortable1,
#sortable2 {
  list-style-type: none;
}

#incorrect {
  display: none;
}
